<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yutu.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="com.yutu.entity.Video">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="videoUrl" column="video_url" jdbcType="VARCHAR"/>
            <result property="coverUrl" column="cover_url" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="text" column="text" jdbcType="VARCHAR"/>
            <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,video_url,cover_url,
        title,text,like_count,
        create_time
    </sql>

    <delete id="deleteByIdAndUserId">
        delete
        from video
        where id = #{id}
          and user_id = #{userId}
    </delete>

    <select id="queryList" resultType="com.yutu.entity.Video">
        select id, video_url, cover_url, title, like_count, create_time,user_id
        from video
        <where>
            user_id=#{id}
        </where>
    </select>
</mapper>
